<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-xs-1">Pitch</th>
      <th class="col-xs-1">Yaw</th>
      <th class="col-xs-1">Roll</th>
      <th class="col-xs-1">AccelX</th>
      <th class="col-xs-1">AccelY</th>
      <th class="col-xs-1">AccelZ</th>
      <th class="col-xs-1">gyroX</th>
      <th class="col-xs-1">gyroY</th>
      <th class="col-xs-1">gyroZ</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ahrs_data.pitch}}</td>
      <td>{{ahrs_data.yaw}}</td>
      <td>{{ahrs_data.roll}}</td>
      <td>{{ahrs_data.accelX}}</td>
      <td>{{ahrs_data.accelY}}</td>
      <td>{{ahrs_data.accelZ}}</td>
      <td>{{ahrs_data.gyroX}}</td>
      <td>{{ahrs_data.gyroY}}</td>
      <td>{{ahrs_data.gyroZ}}</td>
    </tr>
  </tbody>
</table>
