<% include header %>

<div class="container">
  <div>
    <div>
      <% include ahrs_table %>

      <div ng-show="tab == 'ahrs'" id="canvas"></div>
      <div ng-show="tab == 'acceleration'"></div>
      <% include acceleration_chart %>
    </div>
  </div>
</div>

<% include footer %>

<% include ahrs_visualizer %>
